slides > slide.title-slide hgroup h1 {
  color: IndianRed;
  font-size: 2.2em;
  line-height: 1em;
}

slides > slide.segue hgroup h2 {
  color: White;
  font-size: 2.2em;
  line-height: 1em;
  text-shadow: 2px 2px 5px Silver;
}

.codefont pre {
    font-size: 0.9em;
    line-height: 10px;
}

body {
  background-color: Silver;
}

h1,h2,h3,h4 {
  color: FireBrick;
  text-align: left;
  border-left: 6px ridge red;
  padding-left: 20px;
  font-family: Palatino;
  font-size: 1.2em;
}

p {
  font-family: Verdana;
  font-size: 0.9em;
  line-height: 1.1;
  color: black;
  font-weight: bold;
}

ul li{
  font-family: Verdana;
  font-size: 0.9em;
  line-height: 1.3;
  list-style-type: square;
  color: black;
}

ol li {
  font-family: Verdana;
  font-size: 0.9em;
  line-height: 1.3;
  list-style-type: lower-roman;
  color: black;
}

pre {
   font-family: "Lucida Console", Monaco, monospace;
   font-size: 0.9em;
   font-weight: bold;
   background: WhiteSmoke;
   color: #555555;
   
}

::selection {
    background-color: Navy;
    color: White;
}
